[run]
source = src/devsynth
omit =
    */tests/*
    */templates/*
    */examples/*

[report]
fail_under = 25
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.
    pass
    raise ImportError
    except ImportError
    def __str__

[warnings]
ignore_warnings = True
disable_warnings =
    module-not-imported
    no-data-collected
